@import url('https://cdn.bootcdn.net/ajax/libs/vazir-font/26.0.2/Farsi-Digits/font-face-FD.css');
@font-face {
    font-family: Vazir;
    src: url('Vazir.eot');
    src: url('Vazir.eot?#iefix') format('embedded-opentype'),
        url('Vazir.woff') format('woff'), url('Vazir.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: Vazir;
    src: url('fonts/BYekan-webfont.eot');
    src: url('fonts/BYekan-webfont.ttf') format('embedded-opentype'),
        url('fonts/BYekan-webfont.woff') format('woff'), url('fonts/BYekan-webfont.ttf') format('truetype');
    font-weight: normal;
}
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Vazir';
    direction: rtl;
    background-color: #F93A3A;
  
}

.main-yalda{
    width: 100%;
height: auto;
background-color: #F93A3A;

}
.seed1{
    width: 10px ;
    position: absolute;
    top: 10%;
    left: 5%;
}
.seed4{
    width: 10px ;
    position: absolute;
    top: 39%;
    left: 15%;
}
.seed2{
    width: 10px ;
    position: absolute;
    top: 28%;
    left: 10%;
}
.seed3{
    width: 11px;
    position: absolute;
    bottom: 38%;
    left: 21%;
}
.seed5{
    width: 10px ;
    position: absolute;
    top: 39%;
    right: 12%;
}
.seed6{
    width: 10px ;
    position: absolute;
    bottom: 30%;
    right: 21%;
}
.seed7{
    width: 10px ;
    position: absolute;
    bottom: 21%;
    left: 22%;
}
.seed9{
    width: 10px ;
    position: absolute;
    bottom: 30%;
    left: 13%;
}
.seed8{
    width: 10px ;
    position: absolute;
    bottom: -18%;
    left: 13%;
}
.seed10{
    width: 10px ;
    position: absolute;
    bottom: 25%;
    right: 13%;
}
.seed11{
    width: 10px ;
    position: absolute;
    top: 23%;
    right: 12%;
}
.seed12{
    width: 10px ;
    position: absolute;
    top: 9%;
    right: 24%;
}
.white-circle{
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 1%;
    right: 1%;

}
.white-circle1{
    width: 150px;
    height: 150px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 25px;
    right: -99px;
}
.white-circle2{
    width: 150px;
    height: 177px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: -112px;
    right: -19px;
}
#clockdiv{
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
    direction: ltr !important;
  }
  
  #clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    background: #00BF96;
    display: inline-block;
  }
  
  #clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    background: #00816A;
    display: inline-block;
  }
  
  .smalltext{
    padding-top: 5px;
    font-size: 16px;
  }
  
.login-input{
    direction: ltr;width: 30%;
}
.send-button{
    position: absolute;
    right: 5px;
    top: 1px;
    font-size: 13px;
    background-color: #F93A3A;
    color: white;
    padding: 3px 13px;
    border-radius: 17px;
    margin: 5px auto;
}

.footer-sec-login {

    background-position: center bottom;
    background-size: cover;
    height: 27%;
    background-repeat: no-repeat;
    background-image: url(images/footer.png);
    background-origin: inherit;
    
}
.footer-sec-login-index{
    background-position: center bottom;
    background-size: contain;
    
    background-repeat: no-repeat;
    background-image: url(images/footer.png);
    background-origin: inherit;
}
.footer-sec-login-index p{
    color: white;
}
.footer-sec-login p{
    color: white;
}
.input-sec{
    margin-bottom: 7%;
}
.install-b a{
    color: red;
    background-color: white;
    padding: 5px 10px;
    border-radius: 15px;
}
.header-h1{
    width: 50%;
}
@media (max-width:320px){
    .input-sec {
        margin-bottom: -22%;
    }
  .login-text{
    margin-top: 31px;
  }
    .login-text-pic {
        width: 92% !important;
        margin-top: 77px;
        padding: 31px 0px;
       
    }
    .login-input{
        direction: ltr;width: 70%;
       
    }
 
    .main{
        height: auto !important;
    }
  
    footer p{
        font-size: 14px !important;
    padding: 11px 0px !important;
    }
    .progresss-style{
        padding:30px !important;
    }
    .seed8,.seed1,.seed2,.seed3,.seed4,.seed5,.seed6,.seed7,.seed9,.seed10,.seed11,.seed12,.seed13,.seed14,.seed15,.seed16,.seed17,.seed18,.seed19,.seed20,.seed21{
        width: 5px !important;
    }

    .bar-with {
        width: 225px !important;
    }
    .end-title {
        font-size: 14px !important;
    }
    .first-title {
        font-size: 14px !important;
    }
    .text-2 .description {
        width: 92% !important;
        margin-top: -4% !important;
    }
    .socials img{
        width: 16% !important;
    }
    .header-h1 {
        width: 90%;
    }
    .bascket {
        width: 100% !important;
        text-align: center;
        margin-top: 300px;
    }
    .flower ,.meet,.super,.fruit{
        width: 50px !important;
     
    }

    .bascket-sec{
        width: 280px !important;
        margin-bottom: -80px !important;
    }
    .progressbar-sec p {
        color: white;
        width: 85% !important;
    }
    .sweet{
        width: 75px !important;
    }
    
}
@media (min-width:321px) and (max-width:768px){
  
    .date-text {
        width: 70% !important;
        margin-top: 15px;
    }
 
    .bascket-sec{
        width: 100% !important;
    }
    .footer-sec-login-index{
    height: 34%;
    }

    .text-2 {
        width: 100%;
        padding-top: 75px;
    }
    .progresss-style{
        padding: 35px !important;
    }
    .end-title {
        font-size: 14px !important;
    }
    .first-title {
        font-size: 14px !important;
    }
    .text-2 .description {
        width: 92% !important;
        margin-top: -4% !important;
    }
    .socials img{
        width: 12% !important;
    }
    .header-h1 {
        width: 100%;
    }
    .bascket {
        width: 100% !important;
        text-align: center;
        margin-top: 300px;
    }
  

    .login-text-pic {
        width: 85% !important;
        text-align: justify;
    }
 
   
    .login-reward-pic{
        width: 30% !important;
    }
    .bar-with{
        width: 250px !important;
      }
    .login-input{
        direction: ltr;width: 80%;
    }
    .white-circle {
        width: 100px;
        height: 100px;
        background-color: #fff;
        border-radius: 50%;
        position: absolute;
        top: -2%;
        right: -4%;
    }
    .white-circle2 {
        width: 150px;
        height: 150px;
        background-color: #fff;
        border-radius: 50%;
        position: absolute;
        top: -130px;
        right: -19px;
    }
    .white-circle1 {
        width: 150px;
        height: 150px;
        background-color: #fff;
        border-radius: 50%;
        position: absolute;
        top: -43px;
        right: -99px;
    }
}
.header{
    background-image: url("images/hilight.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    padding: 20px 5px;
}
.header h1{
    font-weight: 900;
    font-size: 25px;
}
.header p{
    color: white;
    padding: 10px;
}
.bascket{
    width: 400px;
    text-align: center;
    margin-top: 200px;
 
}
.bascket-sec{
    height: 500px;
    width:400px;
    margin: 0px auto;
    position: relative;
}
.bascket-sec img{
    padding: 0px 3px;
}
.flower{
    width:65px;
    position: absolute;
    left: 25%;
    top: 18%;
}
.fruit{
    width: 70px;;
    position: absolute;
    right: 5px;
    top: 5%;

}
.meet{
    width:70px;;
    position: absolute;
    right: 37%;
    top: 3%;
}
.super{
    width: 65px;
    position: absolute;
    left: 15px;
    top: 3%;
}
.sweet{
    width: 75px;;
    position: absolute;
    right: 18%;
    top: 17%;

}
.text-2{
    width: 100%;
}
.text-2 .description{
    width: 50%;
    margin-top: 5%;

}
.date-text{
    width: 40%;
    margin-top: 15px;

}
.progressbar-sec{
    margin: 15px 0px;
    text-align: center;
}
.progressbar-sec p{
    color: white;
    width: 80%;
}
.pomegrenate-pic{
    background-image: url(images/pom.png);
    
    background-size: contain;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 21px;
   left: 0%;
    background-repeat: no-repeat;
    -webkit-animation: pom 1.5s ease-in-out forwards;
    animation: pom 1.5s ease-in-out forwards;
    
}

.progress-bar {
    width: 0;
    -webkit-animation: progress 1.5s ease-in-out forwards;
            animation: progress 1.5s ease-in-out forwards;
  }
  .progress-bar .title {
    opacity: 0;
    -webkit-animation: show 0.35s forwards ease-in-out 0.5s;
            animation: show 0.35s forwards ease-in-out 0.5s;
  }
  
  @-webkit-keyframes progress {
    from {
      width: 0;
    }
    to {
      width: var(--w, 0%);
  
    }
  }
  @-webkit-keyframes pom {
    from {
      left: 0%;
    }
    to {
        left: var(--p, 0%);
    
    }
  }
  
  /* @keyframes progress {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  } */
  @-webkit-keyframes show {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes show {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .progresss-style{
    background-color: #e6dfdf;
    padding: 2px 0px;
    height: 54px;
    padding: 30px;
    border-radius: 33px;
    position: relative;
  }
  .end-title{
      font-size: 13px; 
      position: absolute;
      right: 25px;
      top: 4px;
      display: flex;
  }
  .first-title{
    font-size: 13px; 
    position: absolute;
    left:  25px;
    top: 4px;
    direction: rtl;
  }
  .reward-pic{
      width: 30%;
  }

  .lottory-title{
      color: white;
      font-size: 18px;
  }
  .footer-sec{
      margin-top: 5%;
    width: 100%;
    height: auto;
    background-image: url("images/footer2.png");
    background-size: 100% 100%;
  }
 
  .bar-with{
    width: 400px;
  }
  .footer-sec p{
      color: white;
  }
  .socials{
      background-image: url("images/social-back.png");
      width: 100%;
      height: auto;
      background-size: 100% 100%;
      padding: 15px;
  }
  .socials img{
      width: 12%;
      padding: 2px;
  }
  .login-text-pic{
width: 55%;
margin: 40px auto;
color: white;
font-size: 20px;
font-weight: 900;
  }
  .login-reward-pic{
      width: 15%;
  }
  .timer-date{
      background-image: url("images/aparat.png");
      background-repeat: no-repeat;
      background-size: contain;
  }
 
  .calender p{
      color: green;
   font-size: 20px;
  
  }
  .calender{
      display: flex;
      justify-content: center;
      direction: ltr;
  }
  #days{
  background-image: url("images/pomegrenate.png");
  background-repeat: no-repeat;
  background-size: contain;
  padding: 5px 10px 5px 4px;
  width: 38px;
  height: 40px;
   margin-bottom: -1px;
   border-radius: 10px;
   margin: 0px 5px; 
  }
  #hours{
    background-image: url("images/pomegrenate.png");
  background-repeat: no-repeat;
  background-size: contain;
    padding: 5px 10px 5px 4px;
    width: 38px;
    height: 40px;
    text-align: center;
    margin-bottom: -1px;
    border-radius: 10px;
    margin: 0px 5px; 

  }
  #minuts,#sec{
    background-image: url("images/pomegrenate.png");
    background-repeat: no-repeat;
    background-size: contain;
    padding: 5px 10px 5px 4px;
    width: 38px;
    height: 40px;
    margin-bottom: -1px;
    border-radius: 10px;
    margin: 0px 5px; 
  }
  #dynamic-text{
      color: white;
      padding: 10px;
      
  }
 .lottory-main-text{
     color: white;
     font-size: 20px;
     font-weight: 900;
 }
 #progressText{
     font-size: 20px;
     font-weight: 900;
 }
 .pom-holder{
    position: relative;
    margin-top: -45px;
    width: 385px;
    height: 38px;
 }