@font-face {
   font-family: IRANSans;
   font-style: normal;
   font-weight: normal;
   src: url('assets/fonts/IRANSans/IRANSansWeb.woff2') format('woff2');
}

@font-face {
   font-family: IRANSans;
   font-style: normal;
   font-weight: bold;
   src: url('assets/fonts/IRANSans/IRANSansWeb_Bold.woff2') format('woff2');
}
html{
   scroll-behavior: smooth;
}
#myalert-box{
   position: absolute;
   z-index: 1000;
   top: 280%;
   left: 7%;
   width: 89%;

}
.mytext-box{
   display: none;
}
.alert-dismissible .close {
   position: absolute;
   top: 0;
   right: -77px;
   padding: .75rem 1.25rem;
   color: inherit;
}
html,
body {
   height: 100%;
   margin: 0;
   padding: 0;
   direction: rtl;
   font-family: IRANSans;
   display: flex;
   flex-direction: column;
}

h1,
h3,h4,label, button,input ,p {
   text-align: right;
   font-family: IRANSans;
}

.form {
   display: flex;
   justify-content: center;
   margin-bottom: 20px;
   
}

.show-numbers{
   text-align: center;
   margin-bottom: 10px;
 
}

input {
   margin: 0 5px 0 10px;
   padding: 3px 10px;
   border-radius: 5px;
   border: 1.5px solid #aaa;
   transition: .3s;
   text-align: center;
   outline: none;
 
}

input:focus {
   border-color: rgb(100, 185, 245);
}

span {
   align-self: center;
   color: #555;
}

button {
   cursor: pointer;
   background-color: rgb(75, 160, 280);
   padding: 3px 15px 5px;
   border: none;
   color: #fff;
   font-weight: bold;
   outline: none;
   border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   -ms-border-radius: 5px;
   -o-border-radius: 5px;
 
}

#p {
   color: red;
   display: none;
   text-align: center;
   margin-top: -5px;
}

#map {
   width: 100%;
   height: 80%;
}

.gm-style{
   direction: ltr;
}
#myProgress {
   width: 100%;
   background-color: #ddd;
 }
 
 #myBar {
   width: 1%;
   height: 30px;
   background-color: #4CAF50;
   text-align: center;
   line-height: 30px;
   color: white;
 }
#showDots, #showNumbers{
   width: 20px;
   height: 20px;
   display: none !important;
}

@media screen and (max-width: 550px) {
   h1{
      font-size: 1.7rem;
      margin-bottom: .5rem;
   }

   h3{
      margin-top: .5rem;
   }

   .form {
      flex-direction: column;
      margin-bottom: 15px;
   }

   input[type=text] {
      margin: 0 20vw 15px 20vw;
      text-align: center
   }
    
   button {
      margin: 0 20vw;
      border-radius: 6px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      -ms-border-radius: 6px;
      -o-border-radius: 6px;
   }

   #map{
      flex: 1;
   }
}
table {
   font-size: 1em;
}

.hambugur{
   display: none;
}
@media (max-width:320px){
   .left-menu1 li a{
      color: black;
      font-size: 10px !important;
      margin-right: -10px;
      font-weight: bold;
   }
   .mytext-box{
      display: block;
   }
   .logo img {
      width: 80px;
      margin-right: 28px;
  }
   .hambugur{
      color: #c9c9c9 !important;
   }
   #whatIs{
      font-size:11px;
      width: 100% !important;
   }
   #whatIs-hamburgur{
      font-size:11px;
      width: 32% !important;
   }
   
   .left-menu1{
      margin: 0px -50px !important;
   }
   .hambugur{
      display: block;
      color: #d3d7db;
    padding-left: 39px;
    padding: 11px 0px 10px 27px;
   }
   .main-nav{
      display: none;
   }
   .collapsible{
      display: none;
   }
   .send-input {
      width: 65% !important;
      padding: 5px 15px 5px 61px !important;
      font-size: 12px;
  }
   .socials img {
      width: 30px !important;
      height: 30px !important;
      margin-top: 15px;
   }
  .main-nav1{
   margin: 16px 5px 0px 60px !important;
  }
  .sendType {
   margin-left: -299px !important;
   padding: 2px 5px !important;
}
  .web-right {
   text-align: center;
   font-size: 11px !important;
   color: black;
   font-weight: bolder;
   margin: 15px 0px;
   padding: 0px 15px;
}
  
}
.overlay {
   height: 100%;
   width: 0;
   position: fixed;
   z-index: 1;
   top: 0;
   left: 0;
   background-color: rgb(0,0,0);
   background-color: rgba(0,0,0, 0.9);
   overflow-x: hidden;
   transition: 0.5s;
direction: rtl;
 }

 .overlay-content {
   position: relative;
   top: 25%;
   width: 100%;
   text-align: center;
   margin-top: 30px;
 }
 
 .overlay a {
   padding: 8px;
   text-decoration: none;
   font-size: 36px;
   color: #818181;
   display: block;
   transition: 0.3s;
 }
 
 .overlay a:hover, .overlay a:focus {
   color: #f1f1f1;
 }
 
 .overlay .closebtn {
   position: absolute;
   top: 20px;
   left: 45px;
   font-size: 60px;
   color: white;
}
@media (min-width:415px) and (max-width:540px){
   .logo img {
      width: 80px;
      margin-right: 28px;
  }
   .hambugur{
      color: #c9c9c9 !important;
   }
   #whatIs{
      font-size:11px;
      width: 100% !important;
   }
   #whatIs-hamburgur{
      font-size:11px;
      width: 32% !important;
   }
   .left-menu1{
      margin: 0px -50px !important;
   }
   .hambugur{
      display: block;
      color: #d3d7db;
    padding-left: 39px;
    padding: 11px 0px 10px 27px;
   }
   .main-nav{
      display: none;
   }
   .collapsible{
      display: none;
   }
   .send-input {
      width: 56% !important;
      padding: 5px 15px 5px 61px !important;
      font-size: 12px;
  }
   .socials img {
      width: 30px !important;
      height: 30px !important;
      margin-top: 15px;
   }
  .main-nav1{
   margin: 16px 5px 0px 60px !important;
  }
  .sendType{
   margin-left: -338px !important; 
   padding: 2px 7px !important;
  }
  .web-right {
   text-align: center;
   font-size: 11px !important;
   color: black;
   font-weight: bolder;
   margin: 15px 0px;
   padding: 0px 15px;
}
  
}

@media (min-width:321px) and (max-width:414px){
   .left-menu1 li a{
      color: black;
      font-weight: bold;
      font-size: 10px !important;
   }
   .mytext-box{
      display: block;
   }
   .gm-style .gm-style-iw-c {
      max-width: 350px !important;
      max-height: 397px !important;
  }
   .gm-style-iw-d {
      max-height: 405px !important;
  }
   .logo img {
      width: 80px;
      margin-right: 28px;
  }
   .hambugur{
      color: #c9c9c9 !important;
   }
   #whatIs{
      font-size:11px;
      width: 100% !important;
   }
   #whatIs-hamburgur{
      font-size:11px;
      width: 32% !important;
   }
   .left-menu1{
      margin: 0px -50px !important;
   }
   .hambugur{
      display: block;
      color: #d3d7db;
    padding-left: 39px;
    padding: 11px 0px 10px 27px;
   }
   .main-nav{
      display: none;
   }
   .collapsible{
      display: none;
   }
   .send-input {
      width: 65% !important;
      padding: 5px 15px 5px 76px !important;
      font-size: 12px;
  }
   .socials img {
      width: 30px !important;
      height: 30px !important;
      margin-top: 15px;
   }
  .main-nav1{
   margin: 16px 5px 0px 60px !important;
  }
  .sendType{
   margin-left: -315px !important;
   padding: 2px 7px !important;
  }
  .web-right {
   text-align: center;
   font-size: 11px !important;
   color: black;
   font-weight: bolder;
   margin: 15px 0px;
   padding: 0px 15px;
}
  
}
.overlay {
   height: 100%;
   width: 0;
   position: fixed;
   z-index: 1;
   top: 0;
   left: 0;
   background-color: rgb(0,0,0);
   background-color: rgba(0,0,0, 0.9);
   overflow-x: hidden;
   transition: 0.5s;
direction: rtl;
 }

 .overlay-content {
   position: relative;
   top: 25%;
   width: 100%;
   text-align: center;
   margin-top: 30px;
 }
 
 .overlay a {
   padding: 8px;
   text-decoration: none;
   font-size: 36px;
   color: #818181;
   display: block;
   transition: 0.3s;
 }
 
 .overlay a:hover, .overlay a:focus {
   color: #f1f1f1;
 }
 
 .overlay .closebtn {
   position: absolute;
   top: 20px;
   left: 45px;
   font-size: 60px;
   color: white;
}
 
 @media screen and (max-height: 450px) {
   .overlay a {font-size: 20px}
   .overlay .closebtn {
   font-size: 40px;
   top: 15px;
   right: 35px;
   }
 }
 .left-menu{
   display: flex;
   list-style: none;
   float: right;
 }
 .left-menu1{
   display: flex;
   list-style: none;
justify-content: center;
 }
 .main-nav{
   float: left;
    margin: 20px 5px 15px 102px;
 }
 .main-nav1{
   
    margin: 20px 5px 15px 60px;
 }
 
 .left-menu li a{
    color: black;
    font-weight: bold;
    font-size: 14px;
 }
 .left-menu1 li a{
   color: black;
   font-weight: bold;
   font-size: 16px;
}
 #whatIs{
   background-color: #F4F6F8;
   border: 1px saddlebrown;
   border-radius: 32px;
   padding: 8px 15px;
   color: #6498E6;
 }
 #whatIs-hamburgur{
   background-color: #F4F6F8;
   border: 1px saddlebrown;
   border-radius: 32px;
   padding: 8px 15px;
   color: #6498E6;
 }
.logo img{
   width: 80px;
}
.logo{
   margin-top: 19px;
    float: right;
    text-align: right;
    margin-bottom: 25px;
}
.app-logo{
   margin: 17px 20px 12px 20px;

}
.app-logo img{
    margin: 0px 40px;
}

.anar-pic{
	width:122px
}
.pwa{
   width: 220px;
margin-top: 15px;
}
.bazar{
margin-bottom:3px
}
.google-pic{
   width: 125px;
margin-right: -14px;
}
.download-sticker{
    border-bottom: 1px solid white;
    width: 100%;
    margin: 0px auto;
}
.collapsible{
   padding: 7px 20px;
color: #fff;
background-color: #009B7F;
border-color: #009B7F;
font-size: 14px;
border: 1px springgreen;
border-radius: 32px;
    font-family:IRANSans;
font-weight: bolder;
    position: absolute;
    left: 0%;
    top: 22px;
    z-index:999;
    outline: none !important;

}
.collapsible:hover {
   background-color: #f8fdfd;
   border-color: #009B7F;
   border: 2px solid #009B7F;
   color: black;
   transition: .2s;
}
.btnContent {
   width: 250px;
   height: 210px;
   position: absolute;
   border-radius: 14px;
   left: -5%;
   top: 68px;
   background-color: #009B7F;
   border: 1px solid #009B7F;
   text-align: center;
   display: none;
  z-index:999;
  outline: none;
}
.btnContent1{
  
   border-radius: 14px;
  
   text-align: center;
  z-index:999;
  outline: none;
}
.app-logo1{
   margin: 17px 20px 12px 20px;
}
.app-logo1 img{
   margin: 0px 50px;
}
.socials img {
   width: 40px;
   height: 40px;
}
.web-right{
   text-align: center;
    font-size: 12px;
    color: black;
    font-weight: bolder;
    margin: 15px 0px;
}
.send-input {
   background-color: #F4F6F8 !important;
   border: 1px saddlebrown !important;
   text-align: left;
   padding: 5px 15px 5px 138px;
   border-radius: 32px !important;
   width: 95% ;
   /* direction: ltr; */
}
.sendType {
   background-color: #6498E6 !important;
   color: white !important;
   border: 2px solid #6498E6 !important;
   padding: 2px 10px;
   border-radius: 32px !important;
   text-decoration: none !important;
   font-size: 14px !important;
   cursor: pointer;
   margin-left: -271px;
   font-family: IRANSans;
}
 .sendType:hover{
    background-color:white !important;
    color:black !important;
    
 }
 .anar-pic{

}
.sib-download1{
   width: 113px;
   margin-left: 15px;
  
}
.download-stickers1 img{
margin: 0px 15px;
}
.google-pic1{

   margin-right: 8px;
}
.google-pic{

   margin-right: -14px;
}
.caffe-bazzar{
   width: 110px;
   margin-left: 9px;
}
.pwa1{
   width: 235px;
   margin-top: 15px;
   margin-left: 11px;
}
.play-sticker{
   width: 125px;
    margin-left: 17px;
}
.gm-style .gm-style-iw-c {
   max-width: 350px !important;
   max-height: 397px !important;
}
.gm-style-iw-d {
   max-height: 405px !important;
}
.av-hamburger-box {
   width: 25px;
   height: 8px;
   display: inline-block;
   position: relative;
}
.header_color .av-hamburger-inner, .header_color .av-hamburger-inner::before, .header_color .av-hamburger-inner::after {
   background-color: #c9c9c9;
}

.av-hamburger-inner {
   display: block;
   top: 50%;
   margin-top: -2px;
}
.av-hamburger-inner, .av-hamburger-inner::before, .av-hamburger-inner::after {
   width: 25px;
   height: 2px;
   background-color: #c9c9c9;;
   border-radius: 3px;
   position: absolute;
   transition: transform 0.15s ease;
}
.responsive .av-burger-menu-main {
   display: block;
}
.av-hamburger {
   padding: 0 0 0 0;
   display: inline-block;
   cursor: pointer;
   font: inherit;
   color: inherit;
   text-transform: none;
   background-color: transparent;
   border: 0;
   margin: 0;
   overflow: visible;
}
.av-hamburger strong {
   display: none;
}
strong, b {
   font-weight: bold;
}
.header_color .av-hamburger-inner, .header_color .av-hamburger-inner::before, .header_color .av-hamburger-inner::after {
   background-color: #c9c9c9;
}
.av-hamburger--spin .av-hamburger-inner::before {
   transition: top 0.1s 0.34s ease-in,opacity 0.1s ease-in,background-color 0.15s ease;
}

.header_color .av-hamburger-inner, .header_color .av-hamburger-inner::before, .header_color .av-hamburger-inner::after {
   background-color: #c9c9c9;
}
.av-hamburger-inner::before {
   top: -7px;
}
.av-hamburger-inner::before, .av-hamburger-inner::after {
   content: "";
   display: block;
}
.av-hamburger-inner::after {
   bottom: -7px;
}
.av-hamburger-inner::before, .av-hamburger-inner::after {
   content: "";
   display: block;
}
.gm-ui-hover-effect{
   top: -6px;
    right: 0px !important;
    width: 34px !important;
}
.gm-ui-hover-effect img{
   width: 23px !important;
   height: 26px !important;
}