
@import url('https://cdn.bootcdn.net/ajax/libs/vazir-font/26.0.2/Farsi-Digits/font-face-FD.css');
@font-face {
    font-family: Vazir;
    src: url('Vazir.eot');
    src: url('Vazir.eot?#iefix') format('embedded-opentype'),
        url('Vazir.woff') format('woff'), url('Vazir.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: Sahel;
    src: url('fonts/Sahel-Black-FD-WOL.ttf');
    src: url('fonts/Sahel-Black.ttf') format('embedded-opentype'),
        url('fonts/Sahel-FD-WOL.ttf') format('woff'), url('fonts/BYekan-webfont.ttf') format('truetype');
    font-weight: normal;
}
*{
    padding: 0;
    margin: 0;
}
body{
    direction: rtl !important;
   font-family:"Vazir" !important ;
}
.logo{
  width: 100px;
  float: right;
  margin-top: 30px;
}
.app-link{
    float: left;
    margin-top: 30px;
    background-color: #00A78D;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 16px;
    border: 2px solid #00A78D; 
}
.app-link:hover{
    background-color:white;
    color: black;
}

 a .app-link{
    color: white;
    text-decoration: none;
}
.download-link{
    border: 2px solid #00A78D; 
    float: left;
    margin-top: 30px;
    background-color: white;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 16px;
    color: black;
    margin-left: 10px;
}
.download-link:hover{
    background-color: #00A78D;
    color: white;
}
.sub-header-right{
    display: flex;
    height: 65px;
 
}
.sub-header-right-text2{
    color: #00A78D;
}
.border-style{
    border-right: 2px solid #AAAAAA;
    padding: 0 30px 0 0;
}

.accordion-button::after {
  
    position: absolute !important;
    left: 15px;
    color: white !important;
}
.accordion-button{
    background-color: #00A78D !important;
    color: white !important;
}
.accordion-collapse {
    border: none !important;
    border-width: 0 ;
}
.accordion-button{
    border-radius: 18px;
    border-top-right-radius: 18px !important;
    border-bottom-right-radius: 18px !important;
    border-top-left-radius: 18px !important;
    border-bottom-left-radius: 18px !important;

}
.accordion-button::after {
  
    background-image: url("images/open.png");
    background-size: contain;
    background-repeat: no-repeat;
    

}
.table-header-color{
    background-color: #808285 !important;
    color: white !important;
    border-radius: 10px;
    margin: 0px 5px !important;
    
}
table td{
    background-color: #EEEEEE !important;
    border-radius: 10px !important;
    font-size: 13px;
}
.accordion-item{
    margin-bottom: 10px !important;
}
table th,td{
    font-size: 12px;
}
.table>:not(caption)>*>* {
    border-bottom-width: 0px !important
}
.percent-pic{
    display:none;
}
.line-delete{
    width: 26px;
    border-bottom: 1px solid red;
    -webkit-transform: translateY(33px) translateX(7px) rotate(143deg);;
    position: absolute;
    top: -29px;
  
   
}
.map-text{
    cursor:pointer;
    color: #00A78D;
    
}

.map-text:hover{
    color: rgb(101, 140, 226) !important;
    border-bottom: 2px solid #00A78D;
}

.badge-style{
    width:30px;float:left
}

@media (min-width:321px) and (max-width:768px){
  
   
    .download-link {
        padding: 10px;
        font-size: 12px;
     
    }
    .app-link {
        padding: 10px;
        font-size: 12px;
    }
    .res-address{
        display: none !important;
    }
  
    .badge-style{
        width:25px;float:left
    }
    table td,th{
        font-size: 10px !important;
    }
    .sub-header-right{
    justify-content: center;
    margin-bottom: 20px;
     
    }
    .shop_names{
        width: 60%;
    }
    .border-style{
        border-top: 2px solid #AAAAAA;
        padding: 11px 24px;
        width: 85%;
        margin: 0 auto;
        border-right: none !important;
        
    }
    .border-style p{
        text-align: justify;
    }
    .percent-row{
        width: 30%;
    }
    .res-cash-number{
        display: none !important;
    }
}
@media (max-width:320px){
    .download-link {
        padding: 5px;
        font-size: 10px;
     
    }
    .app-link {
        padding: 5px;
        font-size: 10px;
    }
    .sub-header-right{
        justify-content: center;
        margin-bottom: 20px;
         
        }
        .border-style p{
        text-align: justify;
        letter-spacing: -1;
    }
    .border-style{
        border-top: 2px solid #AAAAAA;
        padding: 11px 24px;
        width: 85%;
        margin: 0 auto;
        border-right: none !important;
        
    }
    .shop_names{
        width: 50% !important;
    }
    .res-address{
        display: none !important;
    }
    .badge-style{
        width:20px;float:left
    }
    .res-cash-number{
        display: none !important;
    }
    table td,th{
        font-size: 10px !important;
    }
    .rows{
        display: none !important;
    }
    .shop_names{
        width: 45%;
    }
}

.modal-dialog{
    position: absolute !important;
    top: 30% !important;
    right: 14% !important;
    width: 70%;
}
.modal-title {
    margin-bottom: 0;
    line-height: 1.5;
    width: 100%;
    text-align: center;
}